@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Thông tin khách hàng ";
}

<div class="container-fluid py-4">

    <!-- Bộ lọc -->
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-body">
            <form class="row g-3 align-items-end" asp-controller="CustomerProfile" 
            asp-action="FilterCustomerProfile" 
            method="post">

                <div class="col-md-3">
                    <label class="form-label">Tìm kiếm</label>
                    <input type="text" class="form-control" name="Keyword" placeholder="Tên, vị trí..." />
                </div>


                <div class="col-md-1 text-end">
                    <button type="submit" class="btn btn-primary w-100">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Bảng hiển thị -->
    <div class="card shadow-sm border-0">
        <div class="card-body p-0">
            <table class="table table-hover mb-0 align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Điểm thân thiết</th>
                        <th class="text-end">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                        <tr>
                            <td>@item.FullName</td>
                            <td>@item.Phone</td>
                            <td>@item.Address</td>
                            <td>@item.LoyaltyPoint</td>
                            <td class="text-end">
                                <button class="btn btn-sm btn-outline-primary me-2"><i class="fa-solid fa-pen"></i></button>
                                <button class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                    
                    
                </tbody>
            </table>
        </div>
    </div>

    @if (ViewBag.TotalPages > 1)
    {
            <nav class="mt-3">
                <ul class="pagination justify-content-center">

                    <li class="page-item @(ViewBag.Page == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.Page - 1, pageSize = ViewBag.PageSize })">«</a>
                    </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                                <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                                </li>
                }

                    <li class="page-item @(ViewBag.Page == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.Page + 1, pageSize = ViewBag.PageSize })">»</a>
                    </li>
                </ul>
            </nav>
    }



</div>
